*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', "sans-serif";
}

:root{
    --dark: #05386B;
    --soft-dark: #379683;
    --medium: #5CDB95;
    --soft-light: #8EE4AF;
    --light: #EDF5E1;
}

#welcome-section{
    height: 100vh;
    background: var(--medium);
    display: grid;
    justify-content: center;
    align-items: center;
}
#welcome-header{
    width: 100%;
    z-index: 0;
    font-size: 2rem;
    text-align: center;
    color: black;
}

#projects{
    background: var(--dark);
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-column-gap: 50px;
    grid-row-gap: 40px;
    padding: 10vh;
}

.project-tile{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 30px;
    box-shadow: 10px 10px 20px;
    width: 100%;
    height: 500px;
}

.projects-img{
    width: 100%;
    height: 80%;
    z-index: 0;
}

.project-tile > a{
    width: 100%;
    height: 20%;
    text-align: center;
    background-color: var(--medium);
    transition: 2s;
}

#navbar{

    z-index: 1;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: var(--soft-light);
    box-shadow: 0 0 10px black;
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: black;
}

.nav_links{
    display: flex;
    justify-content: space-around;
    width: 30%;
    list-style-type: none;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 5px;
    background-color: var(--light);
    margin: 5px;
    z-index: 2;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px){

    .body{
        overflow: hidden;
    }

    .nav_links{
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: var(--soft-light);
        display: flex;
        flex-direction: column;
        z-index: 10;
        align-items: center;
        width: 50%;
        transform: TranslateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav_links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav_active{
    transform: TranslateX(0);
}

.logo{
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 20px;
}



#work-together{
    height: 100vh;
    margin: auto;
    background-color: var(--soft-dark);
    display: grid;
    justify-content: center;
    align-items: center;
}

#work-together-content{
    width: 100%;
    height: 50vh;
}

#work-together-header{
    font-size: 30px;
    margin: .1rem;
    text-align: center;
    padding-bottom: 20%;

}

#work-together-header > h1, #work-together-header > p{
    color: #EDF5E1;
}

.work-together-links{
    list-style: none;
    display: flex;
    justify-content: space-around;

}


footer{
    background: var(--dark);
    color: var(--medium);
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    border-top: 2px solid var(--light);
}


.contact-img{
    height: 40px;
    width: 40px;
}


@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-6px,-6px);
}

